{% extends 'main/base.html' %}

{% block content %}

<div class="home-container">
    <div></div>

    <div>
        <div>
            <h2>Book Clubs</h2>
            <a href="{% url 'create-bookClub' %}">Create Club</a>
        </div>

        {% for club in clubs %}
        <div class="post-card">
            <h3><a href="{% url 'bookClub-detail' club.id %}">{{ club.name }}</a></h3>
            <small>Hosted by <a href="{% url 'profile' club.host.id %}">@{{ club.host }}</a></small>

            {% if club.current_book %}
            <p>Currently reading: <strong>{{ club.current_book.title }}</strong></p>
            {% endif %}
            <p>{{ club.description }}</p>
            <small>{{ club.members.count }} member{{ club.members.count|pluralize }}</small>
        </div>
        <hr>
        {% empty %}
        <p> No book clubs yet. Be the first to create one</p>
        {% endfor %}
    </div>

    <div></div>
</div>

{% endblock %}