{% extends 'main/base.html' %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
    <h1>Home</h1>
    <hr>


    <div class="home-container">
        <div>
            <h3>Browse Books</h3>
            <hr>
            <div>
                <a href="{% url 'home' %}">All</a>
            </div>
            <div>
                {% for book in books %}
                <div>
                    <a href="{% url 'home' %}?q={{book.title}}">{{ book.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <h5>{{post_count}} posts available</h5>
            <a href="{% url 'create-post' %}">Create Post</a>
            <div>
                {% for post in posts  %}
                    <div>
                        {% if request.user == post.user %}
                            <a href="{% url 'update-post' post.id %}">Edit</a>
                            <a href="{% url 'delete-post' post.id %}">Delete</a>
                        {% endif %}
                        <a href="{% url 'post' post.id %}"> <h2>{{ post.title }}</h2></a>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        
    </div>


{% endblock %}