
<nav class="navbar">
    <div class="logo"><a href="/">BookSocialMedia</a></div>

    <form method="get" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search On BookSocialMedia" />
    </form>
    <div class="nav-links">
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'about' %}">about</a>
    </div>
    <div class="nav-user">
        {% if request.user.is_authenticated %}
        <p>Hello {{ request.user }}
        <a href="{% url 'logout' %}">logout</a>
        <ul ><a href="{% url 'profile' user.id %}">profile</a></ul>
        
        {% else %}
        
        <a href="{% url 'login' %}">login</a>
        
        
        {% endif %}
    </div>
    
</nav>


