<style>
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
</style>
<nav class="navbar">
    <div class="logo"><a href="/">BookSocialMedia</a></div>

    <form method="get" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search On BookSocialMedia" />
    </form>

    <ul class="nav-links"><a href="{% url 'home' %}">home</a></ul>
    <ul class="nav-links"><a href="{% url 'about' %}">about</a></ul>
    
    {% if request.user.is_authenticated %}
    <p>Hello {{ request.user }}
    <a href="{% url 'logout' %}">logout</a>
    <ul class="nav-links"><a href="">profile</a></ul>
    
    {% else %}
    
    <a href="{% url 'login' %}">login</a>
    
    {% endif %}

</nav>
<hr>

