{% extends 'main/base.html' %}


{% block content %}

<style>
    .room-container{
        display:grid;
        grid-template-columns: 3fr 1fr;

    }
</style>
<div class="room-container">
    <div>

        <h1>{{post.title}}</h1>

        <p>{{post.content}}</p>

        <div class="comment-wrapper">
            <h3>Reflections</h3>
            <hr>

            {% for comment in comments%}
            <div>
                <small>@{{comment.author}} {{comment.date|timesince}}</small>
                <p>{{ comment.content }}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="content" placeholder="Write your message">
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endif %}    
    </div>

    <div>
        <h3>Similar posts</h3>
        <hr>
    </div>

</div>
    
{% endblock content %}

    