{% extends 'main/base.html' %}


{% block content %}

<div class="home-container">
    <div class="post"></div>
    <div>

        <h1>{{post.title}}</h1>
        {% if post.image %}
        <img src="{{post.image.url}}" class="post-image"/>
        {% endif %}
        <p>{{post.content}}</p>

        <div class="comment-wrapper">
            <h3>Reflections</h3>
            <hr>

            {% for comment in comments%}
            <div>
                {% if request.user == comment.author.user %}
                <a href="{% url 'delete-comment' comment.id %} ">Delete</a>
                {% endif %}
                <small>@{{comment.author}} {{comment.date|timesince}}</small>
                <p>{{ comment.content }}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="content" placeholder="Write your message">
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endif %}    
    </div>

    <div>
        <h3>Similar posts</h3>
        <hr>
    </div>

</div>
    
{% endblock content %}

    