{% extends 'main/base.html' %}
{% block content %}


<div class="container">
    <h1>{{ profile }}</h1>
    {% if  request.user == profile.user %}
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% endif %}
    {% if proile.bio %}
    <p>{{ proile.bio }}</p>
    {% endif %}
</div>

<div class="home-container">

    <div>
        {% include 'main/topics_component.html' %}
    </div>

    <div>
        <h2>My Posts</h2>
        {% include 'main/feed_component.html' %}
    </div>

    <div>
        {% include 'main/activity_component.html' %}
    </div>

</div>
{% endblock %}